* {
  font-family: "Times New Roman", Times, serif;
}
.App {
  text-align: center;
  width: 100%;
}
.App h1:first-of-type {
  color: blue;
  font-size: 24px;
  font-weight: bolder;
  margin-top: 2%;
  text-align: center;
}

.department {
  border: 0.2rem solid rgb(0, 225, 255);
  border-radius: 10px;
  background-color: azure;
  margin: 1%;
}

.departments {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.name {
  display: flex;
  border: #282c34;
  border-radius: 1rem;
  align-items: center;
  justify-content: space-around;
  background-color: antiquewhite;
  max-width: 30%;
  margin: 0.5% 2% 1% 10%;
}
.employees {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% auto auto auto;
  width: 100%;
}
.employees h3 {
  text-align: center;
  margin-bottom: 1%;
  font-size: 3rem;

  font-weight: bolder;
}
table {
  width: 90%;
  /* table-layout: fixed; */
}
table thead {
  background-color: aliceblue;
  font-size: large;
}
td {
  width: 20%;
}

table,
th,
td {
  text-align: left;
  padding-left: 1%;
}
.department button {
  appearance: none;
  background-color: #ffffff;
  border-radius: 40em;
  border-style: none;
  box-shadow: #adcfff 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;

  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin-bottom: 1%;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.addEmployee {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 2% auto auto auto;
}
.alertButton {
  margin-top: 3%;
  width: 60%;
}
.formlabel {
  margin-top: 3%;

  font-weight: bold;
  font-size: medium;
}
.addEmployee h2 {
  font-size: 3rem;
}
.addEmployee .button {
  margin: 2% auto auto auto;
  background-color: #adcfff;
  width: 300px;
}
.department button:hover {
  background-color: #a6ff29;
  box-shadow: #fff314 0 -6px 8px inset;
  transform: scale(1.125);
}

.department button:active {
  transform: scale(1.025);
}
@media only screen and (max-width: 600px) {
  .name {
    max-width: 95%;
    margin: 2%;
  }
  .department button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  .departments {
    display: grid;
    grid-template-columns: 1fr;
  }
  table {
    max-width: 90%;
  }
  .addEmployee .button {
    width: auto;
  }
  .alertButton {
    width: 80%;
    margin-top: 8%;
  }
  .formlabel {
    margin-top: 5%;
  }
  .addEmployee h2 {
    font-size: 1rem;
    width: 150%;
  }
}
