.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.department {
  border: 0.2rem solid rgb(0, 51, 255);
  border-radius: 10px;
  background-color: azure;
  margin: 1%;
}

.departments {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.name {
  display: flex;
  border: #282c34;
  border-radius: 1rem;
  align-items: center;
  justify-content: space-around;
  background-color: antiquewhite;
  max-width: 30%;
  margin: 0.5% 2% 1% 10%;
}

@media only screen and (max-width: 600px) {
  .name {
    max-width: 95%;
    margin: 2%;
  }
  .department button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  .departments {
    display: grid;
    grid-template-columns: 1fr;
  }
  table {
    max-width: 90%;
  }
}
.employees h3 {
  text-align: left;
  margin: auto 2% auto 5%;
}
table {
  max-width: 50%;
  margin: 1% auto auto 5%;
}
table,
th,
td {
  border: 1px solid black;
  text-align: left;
  width: 33%;
}
.department button {
  appearance: none;
  background-color: #ffffff;
  border-radius: 40em;
  border-style: none;
  box-shadow: #adcfff 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  margin-bottom: 1%;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.department button:hover {
  background-color: #ffc229;
  box-shadow: #ff6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.department button:active {
  transform: scale(1.025);
}
